<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercice Node</title>
  </head>
  <body>
    <h2>Ajouter un utilisateur</h2>
    <form class="" action="/addUsers" method="post">
      <input type="text" name="lastname" value="">
      <input type="text" name="firstname" value="">
      <input type="text" name="age" value="Age">
      <button type="submit" name="button">vas y clique</button>
    </form>
  </body>
  </script>
</html>
