<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercice Node</title>
  </head>
  <body>
    <div class="Welcome">
      <p>
        Si tu es ici, c'est que tu as décidé de nous rejoindre...
      </p>
      <p>
        Toi aussi tu as succombé à la tentation du pouvoir ! Très bien, à tes risques et périls, inscrit ton nom et ton prénom et tu fera désormais partie des surhumains...
      </p>
      <form class="" action="/addUsers" method="post">
        <input type="text" name="lastname" value="">
        <input type="text" name="firstname" value="">
        <button type="submit" name="button">Si tu es prêt, alors clique ici...</button>
      </form>
      <p>
        Tu n'imagine pas encore les conséquences de ton choix !
      </p>
    </div>
  </body>
  </script>
</html>
