<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/homepage.css" media="screen" title="no title">
  </head>
  <body>
    <h2>Welcome to the Homepage !!!!</h2>
    <p>
      Vous trouverez sur ce site de formidables <a href="/users">trésors</a>.
    </p>
    <p>
      Ces trésors ont produits des trucs cool, vous voulez voir? <a href="/projects">C'est par ici</a>
    </p>
    <p>
      Vous voulez venir avec nous? On va aller manger des koala en Autriche, ça va être l'éclate</a>.
    </p>
    <a href="addUsers" class="button"><button type="button" name="button">Allez viens, on est bien !</button></a>
  </body>
</html>
