<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/homepage.css" media="screen" title="no title">
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|UnifrakturCook:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <img class="logo" src="http://p7clubs.com/image/49/500" alt="" />
      <h1>Bienvenue !</h1>
      <div class="header-right">
        <button class="btnHeader" type="button" name="button">Membres</button>
        <button class="btnHeader" type="button" name="button">Projets</button>
      </div>
    </div>
    <h1>Bienvenue sur cette petite app (réalisée par moi-même) qui me sert d'exercice.</h1>
    <div class="section1">
      <p class="textSection1">
        Je vais en profiter pour vous parler du projet P7 de Simplon. Connaissez vous la zone 51 ? On entend souvent des rumeurs, sans jamais trop comprendre ce qu'il peut bien s'y passer...
      </p>
      <img class="imgSection1" src="http://www.studentsoftheworld.info/sites/sciences/img/6012_zone%2051%202..jpg" alt="" />
    </div>
    <hr>
    <div class="section2">
      <img class="imgSection2" src="https://avatars2.githubusercontent.com/u/4507331?v=3&s=200" alt="" />
      <p class="textSection1">
        Simplon est une école gratuite de formations intensives au développement web basé sur la motivation, qui donne les premières bases du travail de développeurs à des personnes en difficultés. Quel peut bien être le rapport avec la zone 51 ? Attendez, j'y viens...
      </p>
    </div>
    <hr>
    <div class="section3">
      <p class="textSection2">
        Voyez-vous, je fais partie actuellement de ce qu'on appelle le projet P7. Je pensais rejoindre une simple promotions d'apprenants, désireux d'en savoir plus sur le web, tout comme moi... Quel n'a pas été ma surprise au bout de peu de temps. Je voyais écrire tellement vite que je ne voyais plus leurs mains, d'autres qui pouvaient lancer la matrix en lancant un simple 'cmatrix' (une chose obscure que je n'ai pas encore bien saisi), ou encore d'autres personnes capables de comprendre tout pleins de lignes qui n'ont aucune "sémantique" (un mot inventé par une académie française qui ne sait pas de quoi elle parle, assurément). <br> Puis, soudain, un beau jour, tout fut clair dans mon esprit...
      </p>
      <img class="imgSection1" src="http://www.cbronline.com/wp-content/uploads/2016/09/UploadsNewsArticle4990078main.jpg" alt="" />
    </div>
    <hr>
    <div class="section4">
      <img class="imgSection2" src="https://www.loc.gov/exhibits/treasures/images/tlc0090.jpg" alt="" />
      <p class="textSection2">
        En réalité, ces gens sont des surhumains crées par le gouvernement américain pour prendre controle de l'Europe et envahir le monde ! Simplon est une arme de destruction massive ! Il ne faut plus avoir peur des bombes, mais des gens capables de vous hypnotiser en lancant un simple 'cmatrix'... Essayez donc d'imaginer de quoi ils sont <a href="/projects">capables</a>!! Et le temps passant, je finis doucement par devenir comme eux...<br>Si vous lisez ceci, c'est que mon objectif de faire éclater la vérité au grand jour est un succès... Partagez cette page et avertissez le monde... Où devenez l'<a href="/users">un des notres</a>...
      </p>
    </div>
    <div class="footer">
      <a href="addUsers" class="button"><h2>Rejoins nous et FEEL THE POWER !!!!</h2></a>
    </div>
  </body>
</html>
