<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Voici ici les horribles méfaits de ces hommes capables du pire... Es-tu réellement prêt à affronter leurs incroyables capacités ?</h1>
    <p>
      Tu es prévenu... Tu peux cliquer si tu le désire, mais attends toi à ne plus être le même après avoir vu leurs oeuvres...
    </p>
    <ul><% projects.map(function(item){%>
      <li><%= item.name %></li>
    <% }) %></ul>
    <script src="ejs.js"></script>

  </body>
</html>
