<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exo EJS</title>
  </head>
  <body>
    <p>
      Voici l'utilisateur en fonction de l'id :
    </p>
    <p>
      <%= users[id].firstName %>
    </p>
  </body>
</html>
