<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercice Node</title>
  </head>
  <body>
    <h2>Voici la liste des utilisateurs (en ejs héhé)</h2>
      <ul style='list-style-type:none;'><% users.map(function(item){%>
        <li><%= item.nom %></li>
      <% }) %></ul>
    <script src="ejs.js"></script>
  </body>
</html>
