<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exercice Node</title>
    <link rel="stylesheet" href="/users.css" media="screen" title="no title">
  </head>
  <body>
    <div class="container">
      <h2>Voici la liste des génies qui composent ce site en localhost : </h2>
      <ul style='list-style-type:none;'><% users.map(function(item){%>
        <li><%= item.nom %></li>
        <% }) %></ul>
    </div>
    <script src="ejs.js"></script>
  </body>
</html>
